@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Dela+Gothic+One&display=swap');

.about-us-section-container {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
}

.about-us-content {
  font-size: large;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6; /* Improved line spacing */
}

.problem-number {
  font-size: 15em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ff4e50, #f9d423);
  background-clip: text;
  color: transparent;
  animation: bounce 2s infinite; /* Added bounce animation */
}

@keyframes bounce {
  0%, 100% { 
    transform: translateY(0) scale(1.0); 
  }
  25% { 
    transform: translateY(-2px) scale(1.01); 
  }
  50% { 
    transform: translateY(0) scale(1.02); 
  }
  75% { 
    transform: translateY(-2px) scale(1.01); 
  }
}


.problems-text {
  font-family: 'Arial', sans-serif;
  font-size: 38px;
  margin-top: 20px;
  color: white;
}

.problems-text-bottom {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}

.see-how-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff6666;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.see-how-button:hover {
  background-color: #cc0000;
  transform: scale(1.1); /* Added scale transform on hover */
}

.see-how-button a {
  text-decoration: none;
  color: #fff;
}

.image-container {
  position: absolute;
  background-color: white;
  left: 20px;
  bottom: 200px;
  border-radius: 100%;
  overflow: hidden;
  animation: bounce 3s infinite alternate cubic-bezier(0.5, 0.05, 0.5, 0.95);
}

.thinking-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-us-section-container {
    padding: 20px;
  }

  .about-us-content {
    font-size: medium;
  }

  .problem-number {
    font-size: 8em;
  }

  .problems-text {
    font-size: 24px;
  }

  .problems-text-bottom {
    font-size: 16px;
  }

  .see-how-button {
    padding: 10px 20px;
  }

  .thinking-image {
    width: 50px;
    bottom: 10px;
  }
}
