.change-function {
    margin: 0;
    height: 145vh;
    width: 100vw;
    position: relative;
    transition: background-color 0.5s ease;
    padding: 20px;
    color: white;
    text-align: center;
    overflow-y: scroll;
}


.shop-by-routine h2{
    color: white;
}

.routine-text {
    font-size: 20px;
}

.routine-text i{
    color: white;
}

.morning {
    /*background: linear-gradient(black, rgba(255, 166, 0, 0.653));
    background: linear-gradient(45deg, #FFF, #FFD700, #FFA07A);*/
    background: linear-gradient(45deg, #58151A, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.night {
    /*background: linear-gradient(black, purple);*/
    background: linear-gradient(45deg, rgb(229, 231, 235), rgb(0, 0, 0), rgb(75, 85, 99));
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}
  
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  

.switch {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* New styles for product containers and items */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.product-item {
    width: calc(25% - 20px);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
}

.product-item button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.product-item button:hover {
    background-color: #0b7dda;
}