.gradient-container {
    padding: 90px;
    text-align: center;
    color: #fff;
  }
  
  .morning {
    background: linear-gradient(45deg, #ff5733, #ba6d09, #71a8ee, #3072eb, #1552c6);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  .night {
    background: linear-gradient(45deg, rgb(229, 231, 235), rgb(0, 0, 0), rgb(75, 85, 99));
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.timeline {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .timeline-point {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .timeline-point.active {
    background-color: #fff;
    color: #000;
  }

  .routine-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  .carousel-container {
    flex: 1;
  }

  .carousel-image {
    width: 33%;
    justify-content: space-between;
    padding: 1%;
    height: 40vh;
    border-radius: 8px;
    margin-top: 10px;
  }
