.coming-soon-page-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #FFA07A, #892be2a2, #FFF);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.coming-soon-title {
  font-size: 3.5rem;
  font-family: 'Arial', sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.coming-soon-description {
  font-size: 1.5rem;
  color: #FFF;
}

.second-line-desc {
  font-size: 1.5rem;
  color: #FFF;
}
