.container {
  text-align: center;
  padding: 10px;
}

.title {
  font-size: 38px;
  width: 80vw;
  color: royalblue;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-name {
  margin-right: 20px;
  font-family: 'Gilroy', sans-serif;
}

.title-name h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: white; /* Initially set to black */
  animation: slideIn 1s ease-in-out forwards; /* Text slide-in animation */
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.title-name a {
  color: white;
  text-decoration: none;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  margin-top: 20px;
}

#search-icon {
  color: royalblue;
  margin-right: 10px;
}

input {
  background-color: transparent;
  color: white;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  flex: 1;
  outline: none;
}

.send-button {
  color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: white;
}

.result-container {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: royalblue;
  color: white;
}

.ing-head {
  color: black;
}

.ingredients-container {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  color: white;
}

.toxic-ingredients-container {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  align-items: start;
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
}

table tr {
  background-color: black;
  border-bottom: 1px solid #ddd;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: black;
}
