body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.links-row>.column>a {
  color: whitesmoke;
  text-decoration: none;
  /* Remove underline */
}

.tagline {
  display: flexbox;
  align-items: center;
  padding: 2px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
  font-weight: bold;
  color: grey;
}

.newsletter label {
  color: grey;
  font-weight: bold;
  font-size: large;
}

.newsletter input {
  color: black;
  font-size: medium;
  text-align: center;
  background-color: rgb(217, 218, 219);
  margin: 20px;
  width: 20%;
  padding: 2px;

}

.newsletter button {
  font-weight: bold;
  font-size: medium;
  padding-left: 2px;
  padding-right: 2px;

}

.terms-footer-container {
  background-color: #000;
  width: 100vw;
  overflow-x: hidden;
}

.terms-footer {
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
  /* max-width: 900px; */
  padding: 20px;
}

.links-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 33.33%;
  padding-right: 15px;
}

.column span {
  margin-bottom: 10px;
}

.column-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.contact {
  margin-right: 20px;
}

.contact a {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  /* Remove underline */
}

.consult-shop {
  margin-right: 20px;
}

.other-links {
  margin-right: 20px;
}

.other-links a {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  /* Remove underline */
}

.links-row p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .links-row {
    flex-direction: column;
  }

  .column {
    flex-basis: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .contact,
  .consult-shop,
  .other-links {
    margin-right: 0;
    margin-bottom: 20px;
  }
}